						/*         GENERAL		*/
			:root {
				--main-blue: #90caf9;
				--main-white: #fff;
				--main-grey: rgba(255, 255, 255, 0.23);
				--main-dark-grey: #121212;
				--main-ease: cubic-bezier(.65,.05,.36,1);
			}
			@font-face {  font-family: Moderne Sans;  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/moderne_sans.woff2)}
			* {  box-sizing: border-box;}
			
            body {margin:0;}
				/*		MENUS  */
			.menuBarDiv {  width: 100%;  background-color: #555;  overflow: auto;
						padding: 20px 25px ; margin: 0px;  background-color: black; color: white;  
						background-image: url("Downloads/HotelCarPark2Cropped2.jpg");	background-size: 100% 100% ;
		
			}
			
			
				.menuBarMenusDiv 		{ padding-top: 5px;  display: grid; grid-gap: 5px; grid-template-columns: 25% 50%  auto ; 	}
					.menuBarLogoDiv		{ background: transparent; 	}
						.menuBarLogoDiv img	{ width: 100px; }
					.menuBarLinksDiv	{	background: transparent; 	}
						.headerNav 	{	 margin-top: 40px;		}
						.headerNav a {  text-decoration: none;  color: inherit;  padding: 1.3rem;  }
						.headerNav a:hover {  background-color: black;		font-weight: bold;		}
						.headerNav a.activeMenu { background-color: #eee;  color: green;  font-weight: bold; }

					.menuBarContactDiv	{ background: transparent; 	  }
						.socialMedia  {	margin-top: 10px; margin-left: 25px; text-align:center;  }		
						.socialMedia  img { height: 35px;  margin-right: 15px; border-radius: 50%;    position: relative;}
						.socialMedia img:hover  {    /* height: 50px;  z-index: 5; */ transform: scale(1.4);   	    transition: 200ms ease-in;   }
						
						
						.tooltip {  position: relative;  display: inline-block;  }
						.tooltip .tooltiptext { visibility: hidden;  width: 200px;  background-color: black;  color: #fff;  text-align: center;  border-radius: 6px;  
												padding: 5px ;		position: absolute;  z-index: 1;  top: 120%;  left: 50%;  margin-left: -105px;		}
						.tooltip .tooltiptext::after {  content: "";  position: absolute;  bottom: 100%;  left: 50%;  margin-left: -5px;  border-width: 5px;  border-style: solid;
														border-color: transparent transparent black transparent; 		}
						.tooltip:hover .tooltiptext {  	visibility: visible;   transition: 1s ease-in;   }
					
				
				.pageTitleDiv			{		height: 26vh; padding-top: 5px;  width: 80%; background: transparent;   align-items: center; z-index : 2; }
					.pageTitleHeader	{		 font-family: Century Schoolbook, Century Schoolbook L, Georgia, serif;  font-size: 10vmin!important;  text-align: left;
							padding-top: 0px; margin: 1rem 2rem;  color: #eee;  font-style: bold;	/*  mix-blend-mode: overlay; */ 		}
					.pageTitleParagraph	{ font-family: Century Schoolbook, Century Schoolbook L, Georgia, serif;  font-size: 4vmin;  text-align: left; 
							text-indent:40px;	margin: 1rem 1.5rem;   color: #eee;  font-weight: 60;		mix-blend-mode: overlay;  		}
				
				/* Responsive layout  */
				@media screen and (max-width: 1232px) {
						.menuBarDiv 				{ padding: 10px 15px ;		overflow: hidden; }
							.menuBarMenusDiv 		{	padding-top: 5px;  display: grid; grid-gap: 2px; grid-template-columns: 18% 55%  auto ; 	}
								.menuBarLogoDiv img	{ 	padding-top: 10px; width: 80px; }							
							.headerNav 				{	 margin-top: 20px;		}
								.headerNav a 		{   padding: .7rem;  }
								.socialMedia  img 	{ height: 30px;  }
							
				}

				@media screen and (max-width: 992px) {
					.menuBarMenusDiv {	grid-template-columns: 10% 65%  auto;	background-size: 90% 90% ;		}
					.menuBarLogoDiv img	{ width: 70px; }
					.headerNav a {   padding: .5rem;  }
					.socialMedia  img { height: 24px;     position: relative;}
						
					
				}
				@media screen and (max-width: 768px) {
					.menuBarMenusDiv {	grid-template-columns: 70%  auto ;		background-size: 90% 90% ;			}
					.menuBarLogoDiv	{ 	display: none; 	}
					.headerNav a {  font-size: .9rem;  padding: .4rem;  }

					.pageTitleHeader	{	font-size: 8vmin!important;  margin: 1rem 1.5rem;  		}
					.pageTitleParagraph	{   font-size: 4min; 	margin: 0.8rem 1.3rem;     		}
			
						
				}
				@media screen and (max-width: 480px) {
					.menuBarMenusDiv 	{	display: table; }
						.menuBarContactDiv	{ 	display: none; 	}

				}

                /*			CONTACT US	*/
			
			#contactUsDiv		{	  background: #0b3d2c; color: white;   display: grid; 		 grid-template-columns: 50% auto ;		}
			#contactUsMap		{	  background: #0b3d2c; color: white; 	padding: 15px; 	}
			#contactUsForm		{	  background: #0b3d2c; color: white; 	}
				.msg	{		WIDTH:40%;	margin: 10px auto;	padding: 5px;	border-radius: 5px;	color: #3c763d;	background: #dff0d8;  border: 1px solid #3c763d;  text-align: center;	}
				.contactformHeader {   font-family: Century Schoolbook, Century Schoolbook L, Georgia, serif;  font-size: 5vmin;  text-align: center;  color: #eee;  }					
				.contactformParagraph{   font-family: Century Schoolbook, Century Schoolbook L, Georgia, serif;  font-size: 3.5vmin;  text-align: left; 
							padding-left: 20px; text-indent:40px;	 color: #eee; }
		
			#contactForm  {   width: 99%; margin: 5px auto ; padding: 5px;  BORDER: 1PX SOLID #BBBBBB;	BORDER-RADIUS: 5PX;	} 
				.formInput, .formText		{	margin: 2px; display: grid; grid-template-columns: 20% auto ; 		}
				.formInput		{	height: 40px;		}
				.formInput input, .formInput select { width: 100%;    color: var(--main-white);    height: 2.5rem;    outline: 1px solid var(--main-grey);    border-radius: 5px;    border: none;
					background-color: var(--main-dark-grey);    padding-left: 20px;    font-size: 18px;    transition: .1s var(--main-ease);
				}
				.formInput label, .formText  label {   margin: 3px;  background-color: transparent;    color: rgba(255, 255, 255, 0.5);
					text-align: right;    transition: .2s var(--main-ease);    font-size: 1.3rem;    pointer-events: none;    padding: 0 5px;  
				}
				.formText textarea {    color: var(--main-white);    height: 6rem;  width: 100%;   outline: 1px solid var(--main-grey);    border-radius: 5px;    border: none;
					background-color: var(--main-dark-grey);    padding-left: 20px;    font-size: 15px;    transition: .1s var(--main-ease);  display: block; 
				}
				
				.formButtons {	align-items: center;  padding: 3px;  	}
					.formButtons button{	width: 30%; padding: 5px; margin: 4px ;   border-radius: 10px; background: #dfa ; color: green; float: right; font-size: 1.2rem; 	}
					
			
                    		/*		CONTACT US BANNER		*/
			#contactUsBannerDiv		{	padding: 10px; height: 400px; /* background: url(mountain.jpg);	 */  
										background-image: url("Downloads/shadeInstall3.jpg"); background-repeat: no-repeat; 
									background-size: 100% 100%;	
									}
			/*	{	background-color: black; color: white; opacity: 0.6; 	object-fit: cover;    object-position: center; }		*/
			.contactUsBannerHeader  	{   padding-top: 20px; font-family: Century Schoolbook, Century Schoolbook L, Georgia, serif;  font-size: 6vmin;  text-align: center;  color: #ddd;  }					
			.contactUsBannerSmallFont, .contactUsBannerLargeFont	{	font-family: Century Schoolbook, Century Schoolbook L, Georgia, serif; 
							padding: 20px; text-indent:40px;	 color: white; 	font-weight: bold;	/* */ /*	*/   }
			.contactUsBannerSmallFont	{	 font-size: 3.5vmin; 	text-align: left; 	 	}
			.contactUsBannerLargeFont	{	 font-size: 4.5vmin;  	text-align: center; 	}
			.contactUsLink				{	  color: yellow; 	 	}
		
            	/*		RESPONSIVE LAYOUT - CONTACT US AND CONTACT US BANNER  */
			/* On screens that are 992px wide or less, the background color is blue */
			@media screen and (max-width: 992px) {
				#contactUsDiv {	display: table; 	}
					#contactUsMap		{	 padding: 15px; width: 100%;	}
					#contactUsForm		{	  background: #0b3d2c; color: white;  }
				
				#contactUsBannerDiv		{	padding: 10px;  }
					.contactUsBannerHeader  	{   padding-top: 10px;   font-size: 5vmin;  text-align: center;  color: #ddd;  }					
					.contactUsBannerSmallFont	{	 font-size: 3vmin; 	text-align: left; 	 	}
					.contactUsBannerLargeFont	{	 font-size: 4vmin;  	text-align: center; 	}
			
			
				
				
				
			}

			/* On screens that are 600px wide or less, the background color is olive */
			@media screen and (max-width: 480px) {
				#contactUsDiv {		background-color: #0b3d2c;		color: white;			  }
				.formInput label, .formText  label {      font-size: 1.1rem;    			}
			}
            
            
            
            				/*			GALLERY 	#0b3d2e  */
				#galleryDiv		{	  background: #0b3d2e;   color: red; display: grid;  grid-template-rows: 8% auto ;	 padding: 0px; 	}
                #galleryHeader	{	 background: #0b3d2e; color: red;  		display: grid; 		 grid-template-columns: 25% auto ;	}
                    #galleryImage	{  background: #0b3d2e; 	padding: 0px; margin: 1px auto; }
                        #galleryImage	img { width: 100%;   HEIGHT: AUTO; 		}
                    #galleryfilters	{  background: #0b3d2e; 	padding: 10px;  padding-top: 25px;  font-weight: bold;
                                         display: grid; 		 grid-template-columns: 20% 20% 20% 20% auto ; grid-gap: 5px; 
                    }
                        .galleryFilterMenu { background: #0b3d2e; padding: 2px 0px ; text-align: center; color: #68a30c; } 
                        .galleryFilterMenu:hover { background: #a7c847; } 
                        .activeGalleryFilter		{	background: #a7c847;  color: white; font-style: bold;  border-bottom: 5px solid #6eb506;	}	
                    
                #galleryBody	{	color: red; 	padding: 0px;	margin: 0px auto; 	height: auto; 	}					
                
                #galleryBodyContent {	background-color: #0b3d2e; 		color: white;	  font-weight: bold; 
                                        z-index: 2;	  	width: 100%;		  padding: 0px;		margin:14px 0px; 		text-align: center;
                }
                    .imageContainer  { 	display: inline-block;   position: relative;  width: 350px;   padding: 3px;   margin: 2px auto;  border-radius: 10px; }
                    .image { 			width: 100%;  height: 235px;	  border-radius: 10%; }
                    .imageOverlay {  	position: absolute;  bottom: 0;  	left: 0;  right: 0;  background-color: #30b733;  overflow: hidden;  width: 99%;
                                height: 0;		 opacity: 80%;   /*		-webkit-transform: scale(0);  -ms-transform: scale(0);  transform: scale(0);	*/
                                -webkit-transition: .5s ease;  transition: .5s ease;
                    }
                    .imageContainer:hover .imageOverlay {	 width: 100%;  height: 100%;	  border-radius: 10%; 	}
                    .imageContainer:hover .imageOverlayScale {  -webkit-transform: scale(1);  -ms-transform: scale(1);  transform: scale(1);}
                    .text {  color: white;  font-size: 20px;  padding: 20px;   padding-top: 30px;   text-align: center;  background-color: transparent;
                    }					
                        .text p{    font-size: 18px;  }
            
            /* Responsive layout  */
            @media screen and (max-width: 768px) {
                #galleryHeader	{ display: table;  }
                
                .imageContainer  { 	 width: 300px; 		}
                    .text {   font-size: 18px; }					
                        .text p{    font-size: 15px;  }
                    
            }
            @media screen and (max-width: 480px) {
                        #galleryfilters	{ 	padding: 7px; 		font-size: 0.8rem ;  grid-gap: 5px; }
                    #galleryBody		{	display: block; margin: 5px; }	
                        #galleryBodyContent {	display: block; margin: 5px auto;   top: 400px;		 }		
                        .imageContainer  { 	display: block; width: 95%;  }	
                    
            }

            
            
            
            
            
            /*  		FOOTER		*/
				#footbar {  overflow: hidden;  background-color: #333;}
				/*
				#footbar a {  float: left;  display: block;  color: #f2f2f2;  text-align: center;  padding: 14px 16px;  text-decoration: none;  font-size: 17px;}
				#footbar a:hover {  background-color: #ddd;  color: black;}
				#footbar a.active {  background-color: #04AA6D;  color: white;}

				*/
				.midParagraph {  font-size: 22px;   color: green!important; }
					.midParagraph a { text-decoration: none; 		}
				
				.smallParagraph {  font-size: 16px; color: green!important; }

				.footbar { display: grid; display: grid; grid-gap: 5px; grid-template-columns: 50% auto ; }  /*   border-top: 2px  solid ; }  */
				 .footerMenu{   text-align: center;  	color:  green!important;   	}
				 .footerLinks{	color:  green!important;	margin: 10px 0 12px;	padding: 0;}
				.footerLinks a{	display:inline-block;	line-height: 1.8;  font-weight:40;	font-size: 17px;text-decoration: none;	color:  inherit;}
				.footerLinks a:before {  content: "|";  line-height: 1.8;  font-weight:30;  font-size: 20px;  left: 0;  color: green!important;  display: inline-block;  padding-right: 5px;}
				.footerLinks .link-1:before {  content: none;}
				.footerLinks a:hover {  background-color: #ddd;  color: black; padding-right: 10px; }

				#footbarCopyright { text-align: left;  font-size: 18px;  }
				#footbarLinks { text-align: right; color:  green!important;     }

				.ServicesNav 	{	 margin-top: 20px;		}
				.ServicesNav a {  text-decoration: none;    padding: 1rem;  font-size: 16px; display: inline-block;  color: green!important; }

				/* Responsive layout  */
				@media screen and (max-width: 992px) {
					#footbarLinks { text-align: left;  }

					.ServicesNav 	{	 margin-top: 10px;		}
						.ServicesNav a {  text-decoration: none;    padding: 1rem;  font-size: 16px; display: block;  color: green!important; }
					
					.footerLinks{	color:  green!important;	margin: 5px 0 2px;	padding: 0;}
						.footerLinks a{	display:inline-block;	line-height: 1.4;  font-weight:25;	font-size: 17px;text-decoration: none;	color:  inherit;}
						.footerLinks a:before {  content: "|";  line-height: 1.4;  font-weight:25;  font-size: 20px;  left: 0;  color: green!important;  display: inline-block;  padding-right: 5px;}

				}
				
				@media screen and (max-width: 480px) {
					.footerLinks a{	display:inline-block;	line-height: 1.3;  font-weight:20;	font-size: 15px;text-decoration: none;	color:  inherit;}
					.footerLinks a:before {  content: "|";  line-height: 1.3;  font-weight:20;  font-size: 15px;  left: 0;  color: green!important;  display: inline-block;  padding-right: 5px;}
					#footbarCopyright P { 	line-height: 1.3;  font-weight:20;	font-size: 15px;	}	
  
				}

		